/* "width: -webkit-fill-available;" means: "width: stretch;"*/

body {
    background-color: #111111;
    color: #eeeeee;
}

main {
    max-width: 800px;
    width: -webkit-fill-available;
    justify-self: center;
    display: block;
}
main > div.block {
    width: -webkit-fill-available;
    margin: 1em 0px;
}
div.text.full, span.text {
    background-color: #333333;
    /* width: -webkit-fill-available; */
    border-radius: 4px;
}
div.text {
    min-height: 23px;
    padding: 5px;
}

div.line-of-cells {
    margin: 0 -30px;
    display: grid;
    grid-template-columns: auto 800px auto;
}
div.line {
    display: flex;
}
span.placeholder {
    width: -webkit-fill-available;
}


span.cells {
    width: 800px;
    overflow: hidden visible;/*y=visible acts like auto with x=hidden.*/
    display: flex;
    justify-content: center;
}
span.cell {
    min-width: 50px
}
span.cell div {
    width: min-content;
    margin: auto;
}
span.cell > div.box {
    width: 48px;
    height: 46px;
    border: #eeeeee solid;
    border-width: 2px 1px;
}
span.cell.hidden {
    visibility: hidden;
}
span.cell div.id {
    color: #777777;
}
span.cell div.num {
    font-size: 20px;
    font-weight: bold;
}
span.cell div.char {
    font-size: 10px;
    color: #bbbbbb;
}