/* "width: -webkit-fill-available;" means: "width: stretch;"*/

:root {
    --width: 800px;
}
body {
    background-color: #111111;
    color: #eeeeee;
}

main {
    max-width: var(--width);
    width: -webkit-fill-available;
    justify-self: center;
    display: block;
}
main > div.block {
    width: -webkit-fill-available;
    margin: 1em 0px;
}
div.text.full, span.text {
    background-color: #333333;
    /* width: -webkit-fill-available; */
    border-radius: 4px;
}
div.text {
    min-height: 23px;
    padding: 5px;
}

div.line-of-cells {
    margin: 0 -30px;
    display: grid;
    grid-template-columns: auto var(--width) auto;
}
.left {
    float: left;
}
.right {
    float: right;
}
div.line {
    display: flex;
    align-items: start;
}
/* div.line + * {
    clear: both;
} */
span.line-break + * {
    clear: both;
}
.mid-left {
    margin-left: auto;
}
.mid-right {
    margin-right: auto;
}
.mid {
    margin: auto;
}
div.absolute-position {
    position: absolute;
    max-width: var(--width);
    width: -webkit-fill-available;
}
span.placeholder {
    width: -webkit-fill-available;
}


span.cells {
    width: var(--width);
    overflow: hidden visible;/*y=visible acts like auto with x=hidden.*/
    display: flex;
    justify-content: center;
}
span.cell {
    min-width: 50px
}
span.cell div {
    width: min-content;
    margin: auto;
}
span.cell > div.box {
    width: 48px;
    height: 46px;
    border: #eeeeee solid;
    border-width: 2px 1px;
}
span.cell.hidden {
    visibility: hidden;
}
span.cell div.id {
    color: #777777;
}
span.cell div.num {
    font-size: 20px;
    font-weight: bold;
}
span.cell div.char {
    font-size: 10px;
    color: #bbbbbb;
}
span.cell div.pointer {
    font-size: 16px;
    height: 23px;
}